* {
  margin: auto;
  padding:10px;
  font-family: 'Indie Flower', cursive;
}
h1{
  display: flex;
  flex-direction: row;
  
}

h2{
  color: darkblue;
}

#container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height:400px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
  background-color: rgb(241, 239, 239);
  box-shadow: 2px;
}

.box{
 width: 60px;
 height:60px;
 border-radius: 15px;
 display: flex;
 flex-direction: row;
 background-color: rgb(94, 161, 213);
 cursor:pointer;
}

button {
  display: flex;
  justify-content: center;
  background-color:rgb(100, 100, 247);
  color: aliceblue;
  border-radius: 5px;
}

